*.swo
*.swp
.DS_Store
.tern-port
argo-HEAD
argo-jscoverage
registry.json
*~
*.log
*.heapsnapshot
zetta-runtime-HEAD
zetta-runtime-jscoverage
.registry
.peers
.devices
.travis.yml
.vscode

test/
bin/
example/